<html>
<head>
    <meta charset="utf-8">
    <title>글 수정</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        function updateCheck(event) {
            var content = document.update_frm.content.value;
            var file = document.update_frm.file.value;

            if (content === "") {
                alert("수정할 내용을 입력해주세요");
                document.update_frm.content.focus();
                event.preventDefault(); // 폼 제출 막기
                return false;
            } else if (file !== "" && !file.match(/\.(jpg|jpeg|png|gif|pdf|doc|docx|xls|xlsx)$/i)) {
                alert("허용되지 않은 파일 형식입니다.");
                event.preventDefault(); // 폼 제출 막기
                return false;
            }
            return true; // 모든 조건이 통과된 경우에만 true 반환
        }
    </script>
</head>
<body>
    <h1 align='center'>글을 수정해보자</h1>
    <form method="POST" action="{% url 'board:board_update' %}" name="update_frm" enctype="multipart/form-data" onsubmit="return updateCheck(event);">
        {% csrf_token %}
        {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            <script>alert('{{ message }}')</script>
          </div>
        {% endfor %}
        {% endif %}
        <input type='hidden' value="{{ b_num }}" name='b_num'>
        <table align='center' border='1'>
            <tr style='background-color:rgb(237,237,237);'>
                <td align='center' style="width:40px;">제목</td>
                <td style="width:670px;padding-left:5px;">{{ title }}</td>
            </tr>
            <tr>
                <td align='center' colspan='2'>내용</td>
            </tr>
            <tr>
                <td colspan='2'>
                    <textarea name='content' cols="100" rows='30' maxlength='5000' style='resize:none;'>{{ content }}</textarea>
                </td>
            </tr>
            <tr>
                <td align='center'>첨부 파일</td>
                <td>
                    {% if file %}
                        현재 파일: <a href="{{ file.url }}" download>{{ file.name|cut:"uploads/" }}</a><br>
                    {% endif %}
                    <input type="file" name="file">
                </td>
            </tr>
            <tr>
                <td align='center' colspan='2'>
                    <input type='submit' value='글 수정'>
                    <input type='reset' value='초기화'>
                    <input type='button' value='글 목록' onclick="location.href='/board'">
                </td>
            </tr>
        </table>
    </form>
    
</body>
</html>
